---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="transition-all">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-neutral-900 dark:text-neutral-100">
		<Header />
		<main class="py-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>

